@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body.home-page {
  background-image: url('your-background.jpg');
  background-size: cover;
  background-position: center;
}

/* Hero Section*/

.hero {
  height: 100vh;
  position: relative;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Public/Hero/hero.jpg") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 100px;
  overflow: hidden;
  z-index: 1;      
}



.hero h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-size: 3.5rem;
    color: white;
}
@media screen and (max-width: 768px) {
    .hero h1 {
        font-size: 2.5rem;
    }
  
}

.fab, .fa-brands {
  color: #FFC107;
  transition: all 0.3s ease-in-out;
}

.fab:hover, .fa-brands:hover {
  color:  #ff8b00;
  transform: scale(1.2);
}

/* Navbar*/
.navbar-home{
    background-color: rgba(255, 255, 255, 0.2); /* semi-transparent white */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: fixed; /* or sticky, depending on your layout */
    width: 100%;
    top: 0;
    z-index: 999; /* ensure it's above other content */
} 


.navbar-home.scrolled {
    background: linear-gradient(to bottom right, #5fc4ff, #7bf5fe);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    padding: 0.5em 2em;
}

.navbar {
   position: sticky;
    top: 0;
}
.navbar-brand img{
    cursor: pointer;
}
.nav-link {
    margin-right: 1em;
    cursor: pointer;
    font-weight: bold;
}
.nav-link:hover {
    transform: scale(1.2);
    text-shadow: none;  
}
.navbar-collapse {
    justify-content: flex-end;
    text-decoration: none;
}

/* About Section */

.service-box {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.service-box:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

/* Shop Section */

.cards {
  display: flex;
  flex-wrap: wrap;  
  justify-content: center;   
  padding-bottom: 25px;
} 

.card-product{
  margin: 15px;
  padding: 15px;
  border-radius: 15px;  
  background: linear-gradient(to bottom right, #5fc4ff, #7bf5fe);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.card-product:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.card-price {
  display:flex;
  justify-content:space-between;
  font-weight:600;
  margin-left: 5px;
  margin-right: 5px;
}
