@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Hero Section*/
.hero {
  height: 100vh;
  position: relative;
}

/* Navbar*/
.navbar {
   position: sticky;
}
.navbar-brand img{
    cursor: pointer;
}
.nav-link {
    margin-right: 1em;
    cursor: pointer;
    font-weight: bold;
}
.nav-link:hover {
    transform: scale(1.2);
    text-shadow: none;  
}
.navbar-collapse {
    justify-content: flex-end;
    text-decoration: none;
}

/* About Section */
.fa-solid {
    margin-right: 10px;
}

/* Shop Section */
.cards {
  display: flex;
  flex-wrap: wrap;  
  justify-content: center;     
  
}

.card {
  margin: 15px;
  padding: 15px;
}

.card-price {
  display:flex;
  justify-content:space-between;
  font-weight: bolder;
  margin-left: 5px;
  margin-right: 5px;
}


